<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<meta charset="UTF-8">
<title>[[#{module.form.title}]]</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>

	<section layout:fragment="custom-content">
		<form th:action="@{/module/save}" method="post">
			<input type="hidden" name="id" th:value="${module.code}"> <input
				type="hidden" name="version" th:value="${module.version}">
			<div id="filiereForm" class="card mt-3">
				<div class="card-header bg-info text-white">
					<h3>[[#{module.form.titleBis}]]</h3>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label for="code">[[#{module.form.code}]]</label> <input
							type="number" class="form-control" id="code" name="code"
							th:value="${module.code}"> <span class="text-danger"
							th:errors="${module.code}"></span>
					</div>
					<div class="form-group">
						<label for="duree">[[#{module.form.duree}]]</label> <input
							type="number" class="form-control" id="duree" name="duree"
							th:value="${module.duree}"> <span class="text-danger"
							th:errors="${module.duree}"></span>
					</div>
					<div class="form-group">
						<label for="ordre">[[#{module.form.ordre}]]</label> <input
							type="number" class="form-control" id="ordre" name="ordre"
							th:value="${module.ordre}"> <span class="text-danger"
							th:errors="${module.ordre}"></span>
					</div>
					<div class="form-group">
						<label for="filiere">[[#{module.form.filiere}]]</label> <select
							class="form-control" id="filiereId" name="filiereId">
							<option value="">[[#{module.form.choisirFiliere}]]</option>
							<option th:each="filiere : ${filieres}" th:value="${filiere.id}"
								th:selected="${module.filiereId == filiere.id}">[[${filiere.intitule}]]</option>
						</select> <span class="text-danger" th:errors="${module.filiereId}"></span>
					</div>
					<div class="form-group">
						<label for="nomSalleCapacite">[[#{module.form.salle}]]</label> <select
							class="form-control" id="nomSalleCapacite" name="nomSalleCapacite">
							<option value="">[[#{module.form.choisirSalle}]]</option>
							<option th:each="salle : ${salles}" th:value="${salle.nom+'-'+salle.capacite}"
								th:selected="${module.nomSalleCapacite == salle.nom+'-'+salle.capacite}">[[${salle.nom}]]-[[${salle.capacite}]]</option>
						</select> <span class="text-danger" th:errors="${module.nomSalleCapacite}"></span>
					</div>
					<div class="form-group">
						<label for="nomMatiereNiveau">[[#{module.form.matiere}]]</label> <select
							class="form-control" id="nomMatiereNiveau" name="nomMatiereNiveau">
							<option value="">[[#{module.form.choisirMatiere}]]</option>
							<option th:each="matiere : ${matieres}" th:value="${matiere.id?.nom+'-'+matiere.id?.niveau}"
								th:selected="${module.nomMatiereNiveau == matiere.id.nom+'-'+matiere.id.niveau}">[[${matiere.id.nom}]]-[[${matiere.id.niveau}]]</option>
						</select> <span class="text-danger" th:errors="${module.nomMatiereNiveau}"></span>
					</div>
					<div class="form-group">
						<label for="formateurId">[[#{module.form.formateur}]]</label> <select
							class="form-control" id="formateurId" name="formateurId">
							<option value="">[[#{module.form.choisirFormateur}]]</option>
							<option th:each="formateur : ${formateurs}" th:value="${formateurId}"
								th:selected="${module.formateurId == formateur.id}">[[${formateur.nom}]]</option>
						</select> <span class="text-danger" th:errors="${module.formateurId}"></span>
					</div>
				</div>
				<div class="card-footer">
					<div class="btn-group btn-group-lg float-right">
						<button type="submit" class="btn btn-success">
							<i class="fa fa-check"></i>
						</button>
						<a th:href="@{/module/cancel}" class="btn btn-warning"> <i
							class="fa fa-undo"></i>
						</a>
					</div>
				</div>

			</div>
		</form>

	</section>
</body>
</html>