<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<meta charset="UTF-8">
<title>[[#{module.list.title}]]</title>
</head>
<body>

	<section layout:fragment="custom-content">
		<div class="card mt-3">
			<div class="card-header bg-info text-white">
				<h2>[[#{module.list.titleBis}]]</h2>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>[[#{module.list.code}]]</th>
							<th>[[#{module.list.duree}]]</th>
							<th>[[#{module.list.ordre}]]</th>
							<th>[[#{module.list.salle}]]</th>
							<th>[[#{module.list.matiere}]]</th>
							<th>[[#{module.list.formateur}]]</th>
							<th>[[#{module.list.filiere}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="module : ${modules}">
							<td>[[${module.code}]]</td>
							<td>[[${module.duree}]]</td>
							<td>[[${module.ordre}]]</td>
							<td>[[${module.salle?.nom}]]</td>
							<td>[[${module.matiere?.id?.nom}]]</td>
							<td>[[${module.formateur?.nom}]]</td>
							<td>[[${module.filiere?.intitule}]]</td>
							<td><div class="btn-group btn-group-sm">
									<a class="btn btn-primary"
										th:href="@{/module/edit(id=${module.code})}"><i
										class="fa fa-edit"></i></a><a class="btn btn-danger"
										th:href="@{/module/delete(id=${module.code})}"><i
										class="fa fa-trash"></i></a>
								</div></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/module/add}" class="btn btn-success btn-lg">
					<i class="fa fa-plus"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>